header {
  position: relative;
}
/* edit */
.row {
  margin-left: 0;
  padding: 15px 0 15px;
}

/* icon */
.category-img img {
  width: 50px;
  height: auto;
}

.logo img {
  width:100px;
  height: auto;
}

.banner-slide img {
  height: 300px;
}



/* category */
.category {
  max-width: 225px;
  height: 300px;
  margin: 0px 15px 15px 25px;
  
}

.category img {
  width: 100%;
  height: 200px;
}

/* product */
 .product img {
  width: 100%;
  height: 125px;
}


.product {
  max-width: 250px;
  height: 300px;
  margin: 0px 10px 10px 5px;
}

/* form */
.container-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 750px;
}

.form-dangky {
  max-width: 650px;
  background-color: white;
  border: 2px solid wheat;
  padding: 2rem;
}

.input-group {
  margin: 5px 0px 5px 0px;
  border: 1px solid gray;
  border-radius: 5px;
}


/* admin sản phẩm */
.img-table img {
    max-width: 200px;
    height: auto;
}











